<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headtailfix1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>terrain-test1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,32}</string>
                <key>spriteSourceSize</key>
                <string>{256,32}</string>
                <key>textureRect</key>
                <string>{{0,32},{256,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>altals-test.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba4e02a0906919bf9a5bfee771c4462a:1d4f6b6508243004b34cf3c0cfccac28:4d56ae89899e0cf9c7070e27b80be0ec$</string>
            <key>textureFileName</key>
            <string>altals-test.png</string>
        </dict>
    </dict>
</plist>
