<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>256test1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{512,576},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>256test2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{768,576},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowres-terrain-seasons-summer-surface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,32}</string>
                <key>textureRect</key>
                <string>{{512,512},{512,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>terrain-ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>terrain-ground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,512},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>terrain-surface2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,32}</string>
                <key>spriteSourceSize</key>
                <string>{512,32}</string>
                <key>textureRect</key>
                <string>{{512,544},{512,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uvtest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assemblerDCtest.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48a53ea75ce929f0245fec98babee690:fde5fe74075c6c5704a07a00fa9fb83d:4bdf2a340b34ab74ec2c252cd2e3d641$</string>
            <key>textureFileName</key>
            <string>assemblerDCtest.png</string>
        </dict>
    </dict>
</plist>
